<nav>
	<ul class="quick-nav">
	  <li><a href="#landing-page" class="active">Next Customer Service</a></li>
	  <li><a href="#service-role">Service Role</a> </li>
	  <li><a href="#service-advisor">Service Advisor</a> </li>
	  <li><a href="#service-manager">Service Manager</a> </li>
	  <li><a href="#service-supervisor">Service Supervisor</a> </li>
	  <li><a href="#career-progression">Career Progression</a> </li>
	  <li><a href="#benefits">Benefits</a> </li>
	  <li><a href="#location">Location</a> </li>
	  <li><a href="#where-fit-in">So where do you fit in?</a></li>
	</ul>
</nav>