<div id="service-supervisor" class="section">

  <div class="wrapper">

    <a href="http://www.google.com" class="icon-1 fade-icon"></a>

    <div class="icon-2 fade-icon"></div>

    <div class="icon-3 fade-icon"></div>

    <div class="icon-4 fade-icon"></div>

    <div class="icon-5 fade-icon"></div>

    <div class="text-block left">

      <h2>We're on the</h2>
      
      <div class="image-text"></div>

      <h4>for resourceful, helpful people who like to lead by example and inspire those around them.</h4>

      <ul>

        <li>Nothing makes you happier than knowing that you’ve made a difference to someone’s day, be it a member of your team or one of our customers. </li>

        <li>As a Customer Service Manager at our Next Directory you’ll find that no two days are the same and your day is always varied and stimulating. </li>

      </ul>

    </div>

  </div>

</div>