<div id="benefits" class="section">

  <div class="wrapper">

  <div class="text-block left">

    <h2>What are the</h2>

    <div class="image-text"></div>

    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>
      
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>
    </ul>

  </div>

  <div class="ipad-1 fade-icon"></div>

  <div class="ipad-2 fade-icon"></div>

  <div class="ipad-3 fade-icon"></div>

  <div class="ipad-4 fade-icon"></div>

  <div class="icon-1 fade-icon"></div>

  <div class="icon-2 fade-icon"></div>

  <div class="icon-3 fade-icon"></div>

  <div class="icon-4 fade-icon"></div>

  <div class="icon-5 fade-icon"></div>

  <div class="icon-6 fade-icon"></div>

  <div class="text-block right">

    <ul>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>

    </ul>

  </div>

  </div>

</div>