<div id="location" class="section">

  <div class="wrapper">

    <div class="text-block left">

      <div class="image-text"></div>
      
      <ul>

        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit </li>

        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit </li>

      </ul>

    </div>

    <div class="person"></div>

    <div class="main-bg"></div>

    <a href="http://www.google.com" class="icon-1 fade-icon"></a>

    <div class="icon-2 fade-icon"></div>

    <div class="icon-3 fade-icon"></div>

    <div class="icon-4 fade-icon"></div>

    <div class="icon-5 fade-icon"></div>

  </div>

</div>