<div id="service-advisor" class="section">

  <div class="wrapper">

    <a href="http://www.google.com" class="icon-1 fade-icon"></a>

    <div class="icon-2 fade-icon"></div>

    <div class="icon-3 fade-icon"></div>

    <div class="icon-4 fade-icon"></div>

    <div class="icon-5 fade-icon"></div>

    <div class="text-block right">

      <h2>We're on the</h2>

      <div class="image-text"></div>

      <h4>For a cheerful, friendly Customer Service Advisor to come and join us in the Next Directory.</h4>

      <br>

      <br>

      <br>

      <ul>

        <li>You’ll be our customers’ first point of contact when they get in touch with us so we’ll be looking to you to provide a sincere response. </li>

        <li>We have customers calling in with a variety of queries, from a missing package to an incorrect product. You’ll quickly realise that no two customers are the same! </li>
        
      </ul>

    </div>

  </div>

</div>