/****************************************
* TYPOGRAPHY
****************************************/

/* Webfont: HelveticaNeueLTStd-Thin */
@font-face {
    font-family: 'HelveticaNeueW01-Thin';
    src: url('../fonts/HelveticaNeueStdThin.otf');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeueLTStd-Thin */
@font-face {
    font-family: 'HelveticaNeueW01-Roman';
    src: url('../fonts/HelveticaNeue-Roman.otf');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}